# Data Structures

Way of organising data, similar to vectors in C++. Data structure types are the following 
- Lists 
- Dictionaries 
- Tuples and sequences ..

## Lists

In [1]:
myList = [] 
myList =  ['monkey', 'elephant', 'sheep']
print(myList)

['monkey', 'elephant', 'sheep']

### append 
```list.append(x)```

In [2]:
myList =  ['monkey', 'elephant', 'sheep']

myList.append('dog')
print(myList)

['monkey', 'elephant', 'sheep', 'dog']

### extend 
```list.extend(ext)```

In [3]:
myList =  ['monkey', 'elephant', 'sheep']
myList.append('dog')
ext = ['goat']  

myList.extend(ext) 
print(myList)

['monkey', 'elephant', 'sheep', 'dog', 'goat']

In [4]:
# what not to do 
# ext = 'Goat'
# test = myList 
# test.extend(ext) 
# print(test)

### remove 
```list.remove(x)```

In [5]:
myList =  ['monkey', 'elephant', 'sheep']
myList.append('dog')
rm = 'goat' 

myList.remove(rm)
print(myList)

['monkey', 'elephant', 'sheep', 'dog']

### Copy
```list.copy()```

In [21]:
test = myList.copy()
print(test)

['sheep', 'monkey', 'elephant', 'dog', 'cow']

### clear
```list.clear()```

In [8]:
myList =  ['monkey', 'elephant', 'sheep']
myList.append('dog')
rm = 'goat' 
myList.remove(rm)
myList.clear() 
print(myList)

[]

### insert 
```list.insert(i, x)```

In [6]:
myList =  ['monkey', 'elephant', 'sheep']
myList.append('dog')
rm = 'goat' 
myList.remove(rm)

myList.insert(2,'cow')
for i in range(len(myList)):
    print(i, myList[i])

0 monkey
1 elephant
2 cow
3 sheep
4 dog

### pop
```list.pop([i])```

In [7]:
myList =  ['monkey', 'elephant', 'sheep']
myList.append('dog')
rm = 'goat' 
myList.remove(rm)

myList.pop()
for i in range(len(myList)):
    print(i, myList[i])
# if no index specified, then last digit gets popped

0 monkey
1 elephant
2 sheep
3 dog

### index
```list.index(x[, start[, end]])```

In [13]:
myList =  ['monkey', 'elephant', 'sheep']
myList.append('dog')
for i in range(len(myList)):
    print(i, myList[i])

0 monkey
1 elephant
2 sheep
3 dog

In [14]:
search = 'sheep'
print(myList.index(search))

2

### Count 
```list.count(x)```

In [15]:
myList =  ['monkey', 'elephant', 'sheep', 'sheep', 'cow', 'dog','sheep']
search = 'sheep' 
print(myList.count(search))

3

### Reverse 
```list.reverse()```

In [20]:
myList.reverse()
print(myList)

['sheep', 'monkey', 'elephant', 'dog', 'cow']

### Sort
```list.sort(*, key=None, reverse=False)```

In [41]:
myList =  ['monkey', 'elephant', 'sheep', 'cow', 'dog']
print(myList)

['monkey', 'elephant', 'sheep', 'cow', 'dog']

In [42]:
## default option 
# myList.sort()
# print(myList) 

## key based on function 
def func(e):
  return len(e)
myList.sort(key=func) 
print(myList)

## reverse option 
myList.sort(reverse=True)
print(myList)

['cow', 'dog', 'sheep', 'monkey', 'elephant']

### list comprehensions

In [34]:
# importing the required module
import matplotlib.pyplot as plt

squares = [x**2 for x in range(10)]
print(squares)
# plt.figure()
# plt.plot(squares)

## nested lists

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]